[Desktop Entry]
Version=1.0
Type=Application
Name=LogarithmPlotter
GenericName=2D logarithmic-scaled plotter software
GenericName[de]=2D-Grafiksoftware mit logarithmischer Skalierung
GenericName[fr]=Logiciel de traçage à l'échelle logarithmique
GenericName[hu]=Síkbeli ábrázolásszoftver
GenericName[no]=2D-plotterprogramvare
Comment=Create Bode diagrams, sequences and distribution functions
Comment[de]=Erstellung von Bode-Diagramms, Folgen und Verteilungsfunktionen
Comment[fr]=Créer des diagrammes de Bode, des suites et des fonctions de répartition
Comment[hu]=Bode-ábrák, sorozatok és újraosztási függvények létrehozása

TryExec=logarithmplotter
Exec=logarithmplotter %f
Icon=logarithmplotter
MimeType=application/x-logarithm-plot;
Terminal=false
StartupNotify=false
Categories=Science
