# Building
build/
dist/
deb_dist/
assets/linux/flatpak/AppDir
assets/linux/flatpak/repo
assets/linux/flatpak/build-dir
assets/linux/flatpak/.flatpak-builder
*.snap
*.spec
*.zip
*.tar.gz
*.spec
*.egg-info/

# Runtime data
**/**.qmlc
**/**.jsc
**/**.pyc
**/**.qm
**/**.log
*.jsc
*.qmlc
*.log
**/*.dxvk-cache
.DS_Store
**/.DS_Store
**/__pycache__/

# IDE Data
.ropeproject
.vscode
*.kdev4
.kdev4
docs/html
.directory
*.lpf
*.lgg

# Tests
common/coverage/
**/.coverage

# npm
common/node_modules
runtime-pyside6/LogarithmPlotter/qml/eu/ad5001/LogarithmPlotter/js/index.mjs*
