build/
dist/
deb_dist/
linux/flatpak/AppDir
linux/flatpak/repo
linux/flatpak/build-dir
linux/flatpak/.flatpak-builder
*.snap
*.spec
*.zip
**/**.qmlc
**/**.jsc
**/**.pyc
**/**.qm
*.jsc
*.qmlc
.DS_Store
**/.DS_Store
**/__pycache__/
.ropeproject
.vscode
build
docs/html
.directory
*.kdev4
*.lpf
*.lgg
*.spec
.kdev4
AccountFree.pro
AccountFree.pro.user
*.egg-info/
*.tar.gz
