build/
dist/
*.spec
*.zip
**/**.qmlc
**/**.jsc
*.jsc
*.qmlc
.DS_Store
**/.DS_Store
**/__pycache__/
.ropeproject
.vscode
build
docs/html
.directory
*.kdev4
*.json
*.lpf
*.lgg
.kdev4
AccountFree.pro
AccountFree.pro.user
AccountFree.egg-info/
