<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LogarithmPlotter</string>
	<key>CFBundleExecutable</key>
	<string>MacOS/LogarithmPlotter</string>
	<key>CFBundleIconFile</key>
	<string>logarithmplotter.icns</string>
	<key>CFBundleIdentifier</key>
	<string>eu.ad5001.logarithmplotter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LogarithmPlotter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>eu.ad5001.x-logarithm-plot</string>
			<key>UTTypeReferenceURL</key>
			<string>https://git.ad5001.eu/Ad5001/LogarithmPlotter/wiki/LogarithmPlotter-file-format-v1.0</string>
			<key>UTTypeDescription</key>
			<string>Logarithm Plot File</string>
			<key>UTTypeIconFile</key>
			<string>logarithmplotterfile.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lpf</string>
					<string>lgg</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>logarithmplotterfile.icns</string>
			<key>CFBundleTypeName</key>
			<string>Logarithm Plot File</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>eu.ad5001.x-logarithm-plot</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
