[Desktop Entry]
Version=1.0
Type=Application
Name=LogarithmPlotter
Comment=Plotter to make BODE diagrams, sequences and repartition functions.
Exec=/usr/bin/logarithmplotter %F
Icon=logplotter
MimeType=application/x-logarithm-plotter;
Terminal=false
StartupNotify=false
Categories=Graphics;Science;Math;
