[Desktop Entry]
Version=1.0
Type=Application
Name=LogarithmPlotter
GenericName=2D logarithmic-scaled plotter
GenericName[de]=2D-Plotter mit logarithmischer Skalierung
GenericName[fr]=Traceur 2D à échelle logarithmique
GenericName[hu]=Síkbeli ábrázolásszoftver
GenericName[no]=2D-plotterprogramvare
Comment=Create BODE diagrams, sequences and distribution functions
Comment[de]=Erstellung von Bode-Diagramms, Folgen und Verteilungsfunktionen
Comment[fr]=Créer des diagrammes de BODE, des suites et des fonctions de répartition
Comment[hu]=Bode-ábrák, sorozatok és újraosztási függvények létrehozása

TryExec=logarithmplotter
Exec=logarithmplotter %f
Icon=logarithmplotter
MimeType=application/x-logarithm-plot;
Terminal=false
StartupNotify=false
Categories=Science
