[Desktop Entry]
Version=1.0
Type=Application
Name=LogarithmPlotter
Comment=Plotter to make BODE diagrams, sequences and repartition functions.
Exec=/usr/bin/python3 ROOTFOLDER/run.py %F
Icon=ROOTFOLDER/logplotter.svg
MimeType=application/x-logarithm-plotter;
Terminal=false
StartupNotify=false
Categories=Math
